body {
    background-color: rgb(223, 218, 211);
}

.header {
    background-color: #E5CDA9;
    color: #fff;
    width: 100%;
    top: 0;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

ul.navbar {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.navbar li {
    margin-left: 8px;
}

ul.navbar li a {
    color: #fff;
    font-weight: 900;
    text-decoration: none;
    border-radius: 1em;
}

.bannerBlock {
    width: 100%;
    height: 385px;
    border-radius: 10px;
    background-color: #EDEDED;
    margin-top: 40px;
}

.footer {
    width: 100%;
    height: 10em;
    background-color: #E5CDA9;
    border-radius: 50px 50px 0 0;
    margin-top: 40px;
}